#main{
  margin-left: 140px;
    margin-right: 85px;
    width: 80%;
    background: lightgrey;

}
input{
  text-align: center;
}
header{
  background: orange;
    padding: -0.5px;
    text-align: center;
}
input{
  width: 88%;
    font-size: 27px;
    border: 8px solid lightblue;
}
button{
  width: 10%;
    height: 39px;
    font-size: larger;
    color: black;
}
.title{
  font-weight: bold;

}
.tolink{
  font-style: italic;


}
.down{
  cursor:pointer;
  font-size:13px;
}
.authorname{
  font-size:22px;
}